.container{
    padding: 30px;
}

.card{
    width: 500px;
    display: flex;
    margin-left: 500px;
    margin-top: 30px;
    border: 2px solid white;
}

.reg-btn{
    background: hsl(0, 0%, 58%);

}

.reg-btn:hover{
    background: hsla(0, 0%, 58%, 0.552);
}