.control-panel{
    padding: 50px 70px;
    max-width: 400px;
    border: 2px solid white;
    margin-top: 300px;
    margin-left: 600px;
}

.btn-group{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.start-btn{
    background-color: blue;
    color: white;
}

.stop-btn{
    background-color: red;
    color: white;
}